.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%; /* Full height to center vertically */
  width: 100%;
}

.carousel-inner {
  max-width: 100%; /* Set a max-width if needed */
  width: 100%;
}
